@{
    ViewBag.Title = "Home Page";
}

<main>
    <!-- Contenedor para centrar la imagen -->
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh; overflow: hidden;">
        <!-- Imagen que quieres mostrar, ajusta la ruta de la imagen -->
        <img src="~/Content/dist/img/PaginaInicio2.jpg" alt="Imagen centrada" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
    </div>
</main>